<header ng-controller="headController">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My travel blog</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto main-nav">
                    <li class="nav-item"><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account&Lists <span class="caret"></span></a>
                        <ul class="dropdown-menu main-nav">
                            <li><a href="#/profile">Profile</a></li>
                            <li><a href="#/setting">Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/myBlog">My Travel Blog</a></li>
                            <li><a href="#/newPost">Write A Post</a></li>
                            <li role="separator" ng-show="!logged" class="divider"></li>
                            <!--<li class="nav-item"><a href="#/login">Login</a></li>-->
                            <li class="nav-item" ng-show="!logged"><a href="#/register">Sign Up</a></li>
                        </ul>
                    </li>

                    <li class="nav-item" ng-show="!logged"><a href="#/login" ><i class="fa fa-comment"></i> Sign In</a></li>
                    <li class="nav-item" ng-show="logged"><a href="" ng-click="logout()"><i class="fa fa-comment"></i> Sign Out</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>