<div class="head"></div>
<div class="container" ng-controller="homeController">
    <div class="row" >
        <div class="col col-lg-4" ng-repeat="post0 in post0">
            <a href="#/viewPost/{{post0._id}}">
                <div class="post">
                    <img src="/img/uploads/{{post0.imgs}}" alt="">
                    <a class="like" href=""><span class="cnt">{{post.likes}}</span>&nbsp;<i class="ion-ios-heart-outline"></i></a>
                    <h5>{{getTime(post.time)}}</h5>
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </a>
        </div>
        <div class="col col-lg-4" ng-repeat="post1 in post1">
            <a href="#/viewPost/{{post1._id}}">
                <div class="post" >
                    <img src="/img/uploads/{{post1.imgs}}" alt="">
                    <a class="like" href=""><span class="cnt">{{post.likes}}</span>&nbsp;<i class="ion-ios-heart-outline"></i></a>
                    <h5>{{getTime(post.time)}}</h5>
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </a>
        </div>
        <div class="col col-lg-4" ng-repeat="post2 in post2">
            <a href="#/viewPost/{{post2._id}}">
                <div class="post">
                    <img src="/img/uploads/{{post2.imgs}}" alt="">
                    <a class="like" href=""><span class="cnt">{{post.likes}}</span>&nbsp;<i class="ion-ios-heart-outline"></i></a>
                    <h5>{{getTime(post.time)}}</h5>
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>