<div ng-controller="loginController">
    <form class="form-signin text-center"  style="width: 300px;margin:auto;margin-top: 100px">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="username" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
        <br>
        <!--<div class="checkbox mb-3">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
        <!--</div>-->
        <div class="row">

            <div class="col col-md-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>
            </div>
            <div class="col col-md-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">Register</button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</div>