<div class="head"></div>
<div ng-controller="profileController" style="width: 800px;margin:auto;margin-top: 50px">
    <div class="row">
        <legend>User profile </legend>
        <div class="col-md-8 ">
            <div class="row">
                <div class="col col-md-3">
                    <label>Username:</label>
                </div>
                <div class="col col-md-9">
                    {{user.username}}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <label>Location:</label>
                </div>
                <div class="col col-md-9">
                    {{userProfile.location}}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <label>Gender:</label>
                </div>
                <div class="col col-md-9">
                    {{userProfile.gender}}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <label>Birth:</label>
                </div>
                <div class="col col-md-9">
                    {{userProfile.birth}}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <label>Email address:</label>
                </div>
                <div class="col col-md-9">
                    {{userProfile.email}}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <label>Phone:</label>
                </div>
                <div class="col col-md-9">
                    {{userProfile.phone}}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <label>Bio:</label>
                </div>
                <div class="col col-md-9">
                    {{userProfile.bio}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="http://websamplenow.com/30/userprofile/images/avatar.jpg" class="img-responsive img-thumbnail ">
        </div>
    </div>

    </div>
</div>