<div class="head"></div>
<div ng-controller="singlePostController">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <div class="blog">
                    <img src="/img/uploads/{{post.imgs}}" alt="">
                    <span class="cnt">{{post.likes.length}}</span>&nbsp;
                    <i post="post0" class="likeIt" ng-class="{true:'ion-ios-heart', false:'ion-ios-heart-outline'}[post0.likes.indexOf(uid) !== -1]">

                    </i>
                    <h5>{{getTime(post.time)}}</h5>
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="info">
                    <h4>Comments:</h4>
                    <ul ng-repeat="com in allComments">
                        <li>{{com.content}} - {{com.username}} - {{getTime(com.time)}}</li>
                    </ul>
                </div>
                <div class="info" >
                    <h4>Leave your comment:</h4>
                    <input type="text"  placeholder="comment" ng-model="comment.content">
                    <button class="btn btn-primary" ng-click="send()">Send</button>
                </div>
                <button class="btn btn-primary" ng-click="back()">Go back</button>
            </div>
        </div>

    </div>

</div>
