<div class="head"></div>
<div ng-controller="singlePostController">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <div class="blog">
                    <div style="float: right">
                        <span class="cnt">{{post.likes.length}}</span>&nbsp;
                        <i post="post" class="likeIt" ng-class="{true:'ion-ios-heart', false:'ion-ios-heart-outline'}[post.likes.indexOf(uid) !== -1]">
                        </i>
                    </div>

                    <img src="/img/uploads/{{post.imgs}}" alt="">

                </div>
            </div>
            <div class="col col-lg-4">
                <div class="info">
                    <a href="#/viewProfile/{{author._id}}"><h4>@{{author.username}}</h4></a>
                    <p>
                        {{post.content}}
                    </p>
                    <p>{{getTime(post.time)}}</p>
                </div>
                <div class="info">
                    <h4>Comments:</h4>
                    <ul ng-repeat="com in allComments">
                        <li>{{com.content}} - <a href="#/viewProfileByName/{{com.username}}">@{{com.username}}</a> - {{getTime(com.time)}}</li>
                    </ul>
                </div>
                <div class="info" >
                    <h4>Leave your comment:</h4>
                    <input type="text"  placeholder="comment" ng-model="comment.content">
                    <button class="btn btn-primary" ng-click="send()">Send</button>
                </div>
                <button class="btn btn-primary" ng-click="back()">Go back</button>
            </div>
        </div>

    </div>

</div>
